.post {
    padding: 7px;
    margin-bottom: .5rem;
    color: #092828;
    font-family: Roboto;

    &:last-of-type{
        padding-bottom: 4rem;
    }

    q {
        display: block;
        padding: 1rem;
        font-size: 15px;
        border-radius: 7px;
        background-color: #f6f6f6;

        &:hover, .tapped {
            cursor: pointer;

            .textContent {
                opacity: 0;
            }

            .actions {
                opacity: 1;
                margin: 0 auto;
            }
        }

        .textContent {
        }

        .actions {
            position: absolute;
            display: inline;
            opacity: 0;
        }

    }

    .image-container {
        display: inline-block;
        width: 15%;
        float: left;

        .image {
            width: 48px;
            height: 48px;
            border-radius: 40px;
        }
    }

    .text {
        display: inline-block;
        width: 85%;

        .name {
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            display: flex;

            * {
                padding: 5px;
            }

            .verified_user, .real, .time {
                flex-grow: 1;
            }

            .user {
                flex-grow: 20;
            }
        }
    }

    .attachment {
        max-width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .reply {
        margin-left: 15%;
    }

    .mine {
        q {
            background-color: #00c397;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }

        .text {
            .name {
                text-align: right;
                .real {
                    display: none;
                }
                .user {
                    display: none;
                }
            }
        }

        //since the Mine user image is a SVG, not a photo,
        //  we want to wrap it in a container that simulates the normal image dimensions
        .image-container {
            float:right;
            width: 48px;
            height: 48px;
            border-radius: 40px;
            background-color: #092828;

            .image {
                width: 20.7px;
                height: 17.5px;
                margin: 30%;
            }
        }
    }
}

#new_post {
    padding: 7px;
    border-top: 1px solid #d8d7d7;
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;

    #new-post-text {
        border: none;
        font-size: 18px;
        flex-grow: 2;
    }

    #char-count {
        border: none;
        font-size: 11px;
        color: #b1bebe;
        flex-grow: 1;
    }

    #submit-post {
        flex-grow: 1;
    }
}
